:root{
    --verde: #DAFF01;
    --branco: white;
    --preto: black;
    --lilas: #9353ff;
}


.divs-facilidades {
    width: 325px;
    
}
.div-novidades {
    width: 900px;
}

.button-lilas {
    background-color: var(--lilas);
    color: var(--branco);
}

.texto-menor{
    color: var(--branco);
}

.verde-limao{
    color: var(--verde);
}

.rodape{
    background-color: var(--preto);
    
}
.nav-link.active{
    color:  var(--verde) !important;
}
